@charset "utf-8";

/*CSS Document/*
/*tamaño de pantalla utilizado para trabajar: 1920 x 1080 px*/




@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
}
/* TAMAÑO TIPOGRAFIA- TODOS LOS H1 H2 H3 H4 H5 H6*/
h1 {
    color: #F8F8F8;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.2px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 40px;
    letter-spacing: 1.6px;
}

h4 {
    font-size: 32px;
    letter-spacing: 1.28px;
}



/*index*/
body {
    font-family: "Bebas Neue";
    background-color: #F8F8F8;
    width: 100%;
}

.banner-ppal {
    display: flex;
    background-image: url(grupo1-img/index/banner-header.jpg);
    padding: 20px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav {
    background-color: #000000;
    padding: 15px, 99px;
}


.menu-horizontal {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;

}

.menu-horizontal li a {
    font-size: 32px;
    display: block;
    color: #F8F8F8;
    padding: 15px 20px;
}

.menu-horizontal li a:hover {
    color: #DF0E0D;

}

/*REVISAAAAAR hover :)*/



.menu-vertical {
    position: absolute;
    display: none;
    width: 164px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

.menu-vertical li a {
    display: block;
    padding: 15px 20px;
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}

.menu-vertical li a:hover {
    background-color: #DF0E0D;
    color: #F8F8F8;

}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}



/*segundo nav*/
.logo-talleres {
    display: flex;

    align-items: center;
}

/*FOOTER*/
footer {
    background-color: #000000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.copy {
    color: #F8F8F8;
    font-size: 20px;
    padding: 20px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    padding: 10px 30px;
}



.redes {
    padding: 10px 30px;


}

.redes h5 {
    color: #F8F8F8;
    font-family: "Bebas Neue";
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    /* 133.333% */
    letter-spacing: 3px;
    padding-bottom: 20px 10px;
    margin-top: 10px;
}



.redes img {
    margin-right: 10px;
    margin-top: 10px;
}



/*SECTION MERCH */
.merch ul {
    display: flex;
    gap: 50px;
}



/*SECTION deportes */
.deportes ul {
    display: flex;
    gap: 50px;
}




/*SECTION sponsors */
.sponsors ul{
    display: flex;
    gap: 50px;
}




/*Section noticias*/

/* Fin Section noticias*/

/*FIN index*/

/*SOCIOS*/
/* FIN SOCIOS*/



/*HISTORIA*/
.historia {
    display: flex;
    justify-content: center;
    background-color: #BD1414;
    flex-direction: column;
    width: 100%;
    align-items: center
}




.historia-texto h2 {
    position: relative;
    top: -311px;
    color: #BD1414;
    background-color: #F8F8F8;
    width: 500px;
padding: 12px 50px;
}

.fechas {
    display: flex;
    justify-content: space-evenly;
    background-color: #141414;
    width: 100%;
    padding: 21px 108px 48px 80px;
}

.fechas a {
    color: var(--blanco-escalada, #F8F8F8);
text-align: center;
font-family: "Bebas Neue";
font-size: 40px;
font-weight: 400;
letter-spacing: 2px;
text-align: center;
}
.fechas li a:hover {
    color: #DF0E0D;
    transform: scale(1.4);

}


.fechas p {
    text-align: center;
font-family: "Work Sans";
font-size: 32px;
font-weight: 400;
letter-spacing: 1.6px;
color: #F8F8F8;
}

.fechas li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia1906 {
    display: flex;
    height: 100%;

}

.historia1906 h3 { 
    color: black; /* Color del texto */
    margin-bottom: 10px; /* Ajusta el margen inferior si necesitas más espacio */
    border-bottom: 4px solid #ca1610; /* Color y grosor de la línea */
    padding-bottom: 5px ; /* Espacio entre el texto y la línea */
}

.historia-texto p {
font-family: "Work Sans";
font-size: 24px;
font-weight: 400;
line-height: 29px;
max-width: 750px;

}



.historia-texto { 
    gap: 30px;
}
/*FIN HISTORIA*/


/*NOTICIAS*/
/*FIN NOTICIAS*/







/*MERCH*/

.imagengrande{
    display: flex;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.producto-imagen {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--Rojo-Bastn, #DF0E0D);
    

}

label {
    display: block;
    margin: 10px 0 5px;
}

.button1 {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.button2 {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

.button1:hover {
    background-color: #ff0000;
}


.button2:hover {
    background-color: #000000;
}


.imagenminiatura{
    display: flex;
justify-content: center;
align-items: center;
gap: 30px;
align-self: stretch;

}

.boton1{
    display: flex;
width: 400px;
max-width: 400px;
padding: 12px 0px;
justify-content: center;
align-items: center;
}

.boton2{
    display: flex;
width: 400px;
max-width: 400px;
padding: 12px 0px;
justify-content: center;
align-items: center;
}

h3{
    display: flex;
    width: 400px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.cuotas{
    display: flex;
    width: 400px;
    max-width: 400px;
    padding: 12px 0px;
    justify-content: space-around;
    align-items: center;
    color: #000;
font-family: "Work Sans";
}

.talle{
    font-family: "Work Sans";
    font-size: 15px;
}











/*FIN MERCH*/
