
@charset "utf-8";
/*CSS Document/*
/*tamaño de pantalla utilizado para trabajar: 1920 x 1080 px*/


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{margin:0; padding:0;}
body {
    font-family:  "Bebas Neue";
    background-color: #F8F8F8;
    /*width: 100%;*/

}

nav {
  max-width: 900px;
  margin: auto;
  background-color: #000000;
}
/*index*/
/*FIN index*/

/*SOCIOS*/
/* FIN SOCIOS*/

/*HISTORIA*/
/*FIN HISTORIA*/

/*NOTICIAS*/
/*FIN NOTICIAS*/

/*MERCH*/
/*FIN MERCH*/

